{% extends "base.html" %}

{% block heading %} Detail {% endblock heading %}

{% block content %} 
<div class="col-11">
	{% if items.img %}
        <img src="{{items.img.url}}" alt="" class="img-responsive">
    {% endif %}
	<h1>{{items.title}}</h1>
	<p>{{items.content|linebreaks}}</p>
	ID | {{items.id}} 
	Created | {{items.timestamp|timesince}}
<br>
<br>
{% comment %}

<a href="{% url 'posts:post_list' %}"><button class="btn btn-primary">Back</button></a> 

{% endcomment %}

<script>
function goBack() {
    window.history.back()
}
</script>
<input type="button" class="btn btn-primary" value="Back" onclick="goBack()">

</div>
{% endblock content %} 
