{% extends "base.html" %}

{% load urlify %}

{% block heading %} Detail {% endblock heading %}

{% block content %} 
<div class="col-11">
	{% if items.img %}
        <img src="{{items.img.url}}" alt="" class="img-responsive">
    {% endif %}
	<h1>{{items.title}}</h1>
	<p>{{items.content|linebreaks}}</p>
	ID | {{items.id}} 
	Created | {{items.timestamp|timesince}}
<br>
<br>
{% comment %}

<a href="{% url 'posts:post_list' %}"><button class="btn btn-primary">Back</button></a> 

{% endcomment %}

<a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
<i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<a class="btn btn-outline-primary" href="https://twitter.com/home?status={{item.content|truncatechars:140|urlify}}%20{{request.build_absolute_uri}}">
<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<a class="btn btn-primary" href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{items.title|urlify}}&summary={{items.content|urlify}}&source={{request.build_absolute_uri}}">
<i class="fa fa-linkedin" aria-hidden="true"></i>
</a>
<br><br>

<script>
function goBack() {
    window.history.back()
}
</script>
<input type="button" class="btn btn-primary" value="Back" onclick="goBack()">

</div>
{% endblock content %} 
