{% extends "base.html" %}

{% block heading %} List {% endblock heading %}

{% block content %} 

<!-- pulling the header.html file from the templates -->

{% include "header.html" %}



<!-- listing the blog items -->

	{% for x in post_items reversed %}
	<div class="postlist">
		<h1><a href="{{x.get_absolute_url}}"> {{x.title}} </a></h1>
		<p>{{x.content}}</p>
		<h4>ID | {{x.id}} </h4>
		<h4>Created | {{x.timestamp}}</h4>
		<h4><a href="{% url 'posts:post_update' post_id=x.id %}"><button class="btn-mylist">Update</button></a> | <a href="{% url 'posts:post_delete' post_id=x.id %}"><button class="btn-mylist">Delete</button></a></h4>
	</div>
	<br>
	{% endfor %}
 
{% endblock content %} 
