{% extends "base.html" %}

{% block heading %} List {% endblock heading %}

{% block content %} 


<div class="row">
	{% for x in post_items reversed %}
	<div class="col-sm-12 col-md-6 col-lg-4 item-mgn">
	<div class="card">
	  <div class="card-header">
	    <a href="{{x.get_absolute_url}}"> 
	    	<br> {{x.title}} </a>
	  </div>
	  <div class="card-body">
	  	    {% if x.img %}
    			<img src="{{x.img.url}}" alt="" class="card-img-top">
			{% endif %}
	    <p class="card-text">
	    	{{x.content|linebreaks|truncatechars:100}} <br>
				ID | {{x.id}} <br>
				Created | {{x.timestamp|timesince}}<br>
	    </p>
	    <a href="{% url 'posts:detail' post_slug=x.slug %}" class="btn btn-primary">Read</a>
	    <a href="{% url 'posts:post_update' post_slug=x.slug %}" class="btn btn-success">Update</a>
	    <a href="{% url 'posts:post_delete' post_slug=x.slug %}" class="btn btn-danger">Delete</a>
	  </div>
	</div>
	</div>

	{% endfor %}



</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
  	{% if post_items.has_previous %}
        <a class="page-link" href="?page={{ post_items.previous_page_number }}">Previous</a></li>
    {% endif %}
	
	<li class="page-item"><a class="page-link" href="#">
		{{ post_items.number }}
	</a></li>

    <li class="page-item">
	{% if post_items.has_next %}
            <a class="page-link" href="?page={{ post_items.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>




{% endblock content %} 
