/* label {
 	vertical-align: top;

 }


body {
	background-color: #bdc3c7;
	margin-top: 40px;
}


.postlist {
	background-color: #ffffff;
	border-radius: 5px;
	padding: 15px 15px 15px 15px;
	margin-left: 3%;
	margin-right: 3%;
}


div.postform {
	background-color: #ffffff;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 15px 15px 15px 15px;

*/
.item-mgn {
	margin-top: 10px;
}


.nav-bar-bottom-mgn {
	margin-bottom: 15px;
}

.button-bottom-mgn {
	margin-bottom: 35px;
}

.nav-bar-top-mgn {
	margin-top: 15px;
}

.input-search-color {
    border-color: #green;
}

.detail-img-max-width {
	max-width: 100%;
	margin-bottom: 15px;
}

.detail-content {
	background-color: #ecf0f1;
	padding: 10px 15px;
	border-radius: 10px;
}

.blue {
	color: #007bff;
}